<!DOCTYPE html>
<html>
{% include ['header.jinja'] %}
  <body>

<div class="row ">
    <div class="col-md-12">
        <div class="error-template">
            <h2>404 page not found</h2>
            <div class="error-details">
                Page not found
            </div>
            <div class="error-actions">
                <a href="/" class="btn btn-primary btn-lg"> Back </a>
            </div>
        </div>
    </div>
    </div>
  </body>
</html>